extends ../../layouts/default.pug

block main 
    if(record.fullName) 
        h1(class="mb-4") #{record.fullName}

    if(record.email) 
        p(class="mb-4") Email: #{record.email}

    if(record.phone)
        p(class="mb-4") Số điện thoại: <b>#{record.phone}</b>

    if(record.avatar)
        div(class="mb-4")
            img(src= record.avatar, alt= record.title, width = "100px",height = auto)
    
    if(record.status)
        div(class="mb-4")
            span Trạng thái: 
            if(record.status == "active")
                span(class="badge badge-success") Hoạt động 
            else 
                span(class="badge badge-danger") Dừng hoạt động

    if(record.role)
        div(class="mb-4") Phân quyền:  <b>#{record.role.title}</b>
        ul(class="list-group mb-4")
            each role in record.role.permissions
                li(class="list-group-item mb-4") #{role}

    br

    if(record.description)
        div(class="mb-4") !{record.description}

    a(
        href=`${prefixAdmin}/accounts/edit/${record.id}`
        class='btn btn-warning btn-sm'
    ) Sửa

    script(src="/admin/js/product.js") 