include ../mixins/sub-menu.pug

header.header 
    .container 
        .row 
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src=setting.logo, alt="Logo", title="Trang chủ")

            .col-3
                form.search-form(
                    action="/search"
                    method="GET"  
                )
                    .form-group
                        input.form-control(
                            type="text"
                            name="keyword"
                            placeholder="Tìm kiếm sản phẩm..."
                            value=keyword
                            autocomplete="off"
                        )
                        button.search-button(type="submit", title="Tìm kiếm") 
                            i.fa-solid.fa-magnifying-glass
                            span.search-text Tìm
                        
            .col-7
                nav.inner-menu 
                    ul.menu-list
                        li.menu-item 
                            a.icon-link(href="/", title="Home")
                                i.fa-solid.fa-house
                                span.menu-text Home
                        li.menu-item.sub-menu
                            -const pathProduct = "/products"
                            a.icon-link.category-trigger(href="/products", title="Danh mục sản phẩm")
                                i.fa-solid.fa-list
                                span.menu-text Category
                                i.fa-solid.fa-chevron-down.dropdown-arrow
                            +sub_item(layoutProductCategory, pathProduct)
                        li.menu-item 
                            a.icon-link(href="/cart", title="Giỏ hàng")
                                i.fa-solid.fa-cart-shopping
                                span.menu-text Cart
                                if cart && cart.totalQuantity > 0
                                    span.cart-count (#{cart.totalQuantity})
                        
                        if(user)
                            li.menu-item.user-menu 
                                a.icon-link(href="/user/info", title="Thông tin tài khoản")
                                    i.fa-solid.fa-user
                                    span.menu-text= user.fullName
                            li.menu-item 
                                a.icon-link(href="/user/logout", title="Đăng xuất")
                                    i.fa-solid.fa-right-from-bracket
                                    span.menu-text Logout
                        else 
                            li.menu-item 
                                a.icon-link(href="/user/register", title="Đăng ký")
                                    i.fa-solid.fa-user-plus
                                    span.menu-text Register
                            li.menu-item
                                a.icon-link(href="/user/login", title="Đăng nhập")
                                    i.fa-solid.fa-right-to-bracket
                                    span.menu-text Login

