.row 
    .col-12 
        a(
            href="/users/not-friend"
            class="btn btn-primary m-1"
        )
            i.fa-solid.fa-user-plus
            | Danh sách người dùng 
        a(
            href="/users/friend"
            class="btn btn-primary m-1"
        )
            i.fa-solid.fa-user-friends
            | Danh sách bạn bè
        a(
            href="/users/request"
            class="btn btn-primary m-1"
        )
            i.fa-solid.fa-user-clock
            | Lời mời đã gửi
        a(
            href="/users/accept"
            class="btn btn-primary m-1"
        )
            i.fa-solid.fa-user-check
            | Lời mời kết bạn
            span(
                class="badge badge-light m-1"
                badge-users-accept=user.id
            )  #{user.acceptFriend.length}
