extend ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)
    
    .container.my-5
        .row 
            .col-12 
                +box-head("Giỏ hàng")
        
        .row 
            .col-12 
                table(class='table table-bordered')
                    thead
                        tr
                            th STT 
                            th Hình ảnh 
                            th Tên sản phẩm
                            th Giá
                            th Số lượng
                            th Tổng tiền
                            th Hành động
                    tbody 
                        if(cartDetail)
                            if(cartDetail.products.length > 0)
                                each item, index in cartDetail.products
                                    tr
                                        td #{index + 1}
                                        td 
                                            img(src=item.productInfo.thumbnail, alt=item.productInfo.title, width="100px")
                                        td 
                                            a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                        td #{formatCurrency(item.productInfo.priceNew)}
                                        td 
                                            div(class="quantity-control mb-3")
                                                button(
                                                    type="button"
                                                    class="quantity-btn quantity-decrease"
                                                    onclick="decreaseQuantity()"
                                                ) -
                                                input(
                                                    class="form-control quantity-input"
                                                    type="number"
                                                    id="quantity-input"
                                                    name="quantity"
                                                    value=item.quantity
                                                    min="1"
                                                    max=item.productInfo.stock
                                                    product-id=item.product_id
                                                    style="width: 50px"
                                                    readonly
                                                )
                                                button(
                                                    type="button"
                                                    class="quantity-btn quantity-increase"
                                                    onclick="increaseQuantity()"
                                                ) +
                                        td #{item.productInfo.stock}
                                        td #{formatCurrency(item.totalPrice)} 
                                        td 
                                            a(
                                                href=`/cart/delete/${item.product_id}`
                                                class="btn btn-danger"
                                            ) Xóa
                            else
                                tr
                                    td(colspan="7" class="text-center") 
                                        p.text-muted.mb-0 Giỏ hàng của bạn đang trống
                                        a(href="/products" class="btn btn-primary mt-2") Tiếp tục mua sắm
                        else

                           
                if(cartDetail && cartDetail.products && cartDetail.products.length > 0)           
                    h3(class='text-right') Tổng tiền: #{formatCurrency(cartDetail.totalPrice || 0)}

                    div(class="text-right mt-3")
                        if user
                            a(
                                href="/checkout"
                                class="btn btn-primary"
                            ) Thanh toán
                        else
                            p.text-danger.text-right Vui lòng đăng nhập để thanh toán
                            a(
                                href="/user/login"
                                class="btn btn-warning mr-2"
                            ) Đăng nhập
                            a(
                                href="/user/register"
                                class="btn btn-success"
                            ) Đăng ký


    script(src="/js/cart.js") 