extends ../../layouts/default.pug

block main
    h1 Trang tổng quan

    .row.dashboard-stats-row
        .col-6(style="--index: 1")
            .dashboard-card.category
                .card-header Danh mục sản phẩm
                .card-body
                    p Số lượng: <b>#{statistics.category.total}</b>
                    p Hoạt động: <b>#{statistics.category.active}</b>
                    p Dừng hoạt động: <b>#{statistics.category.inactive}</b>

        .col-6(style="--index: 2")
            .dashboard-card.product
                .card-header Sản phẩm
                .card-body
                    p Số lượng: <b>#{statistics.product.total}</b>
                    p Hoạt động: <b>#{statistics.product.active}</b>
                    p Dừng hoạt động: <b>#{statistics.product.inactive}</b>

        .col-6.mt-4(style="--index: 3")
            .dashboard-card.account
                .card-header Tài khoản Admin
                .card-body
                    p Số lượng: <b>#{statistics.account.total}</b>
                    p Hoạt động: <b>#{statistics.account.active}</b>
                    p Dừng hoạt động: <b>#{statistics.account.inactive}</b>

        .col-6.mt-4(style="--index: 4")
            .dashboard-card.user
                .card-header Tài khoản Khách hàng
                .card-body
                    p Số lượng: <b>#{statistics.user.total}</b>
                    p Hoạt động: <b>#{statistics.user.active}</b>
                    p Dừng hoạt động: <b>#{statistics.user.inactive}</b>

        .col-6.mt-4(style="--index: 5")
            .dashboard-card.order
                .card-header Đơn hàng
                .card-body
                    p Tổng số đơn: <b>#{statistics.order.total}</b>
                    p Đơn hàng tháng này: <b>#{statistics.order.thisMonth}</b>
                    p Đơn hàng hôm nay: <b>#{statistics.order.today}</b>

        .col-6.mt-4(style="--index: 6")
            .dashboard-card.revenue
                .card-header Doanh thu
                .card-body
                    p Tổng doanh thu: <b>#{statistics.revenue.total.toLocaleString('vi-VN')} VNĐ</b>
                    p Doanh thu tháng này: <b>#{statistics.revenue.thisMonth.toLocaleString('vi-VN')} VNĐ</b>
                    p Doanh thu hôm nay: <b>#{statistics.revenue.today.toLocaleString('vi-VN')} VNĐ</b>

block scripts
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/admin/js/dashboard-charts.js")