extends  ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        include ../../partials/list-button-user.pug
        
        .row 
            .col-12 
                +box-head(title)

        .row(data-users-accept=user.id)
            .col-6(user-id=user.id)
                
                each user in users
                    div(class='box-user')
                        div(class='inner-avatar')
                            img(
                                src=(user.avatar ? user.avatar : '/images/avatar.jpg')
                                alt=user.fullName
                            )
                        div(class='inner-info')
                            div(class='inner-name') #{user.fullName}
                            div(class='inner-buttons') 
                                button(
                                    class='btn btn-primary btn-sm m-1'
                                    button-accept-friend=user.id
                                )
                                    i.fa-solid.fa-user-check
                                    | Chấp nhận
                                button(
                                    class='btn btn-secondary btn-sm m-1'
                                    button-refuse-friend=user.id
                                )
                                    i.fa-solid.fa-xmark
                                    | Từ chối
                                button(
                                    class='btn btn-danger btn-sm m-1'
                                    button-delete-friend=user.id
                                    disabled
                                )
                                    i.fa-solid.fa-trash
                                    | Đã xóa
                                button(
                                    class='btn btn-primary btn-sm m-1'
                                    button-accepted-friend
                                    disabled
                                )
                                    i.fa-solid.fa-check
                                    | Đã chấp nhận

block script
    script(src="/js/users.js")